* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(4, 34, 24);
    padding: 16px 0;
    color:antiquewhite;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    }


header li a {
    color: antiquewhite;
    text-decoration: none;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(59, 85, 6);
    color: whitesmoke;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, 
.articles article a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#economy {
    background-color: blanchedalmond;
}

#economy .articles article a{
    background-color: rgb(230, 165, 69);
}

#tecnology  {
    background-color: rgba(24, 24, 177, 0.274);
}

#tecnology .articles article a{
    background-color: rgb(9, 9, 70);
}

#entertainment {
    background-color: rgba(245, 12, 12, 0.349);
}

#entertainment .articles article a{
    background-color: rgba(173, 22, 22, 0.87);
}